# Virtual environments
.venv/
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Packaging
*.egg-info/
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
app/build/
